body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  #bingo-word {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  #bingo-word span {
    font-size: 32px;
    margin: 0 5px;
    color: lightgray;
    border-bottom: 2px solid #333;
    transition: color 0.3s;
  }
  
  #bingo-board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    margin-bottom: 20px;
  }
  
  .cell {
    background-color: white;
    border: 2px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    cursor: pointer;
    padding: 10px;
    user-select: none;
    transition: background-color 0.3s;
}
  
  .cell.marked {
    background-color: #4caf50;
    color: white;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ff2424;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #cc1e1e;
  }
  
